.chat-main__message-list__message
  .chat-main__message-list__message__top
    .chat-main__message-list__message__top__name
      = message.user.name
    .chat-main__message-list__message__top__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .chat-main__message-list__message__low
    - if message.content.present?
      %p.chat-main__message-list__message__low__text
        = message.content
    = image_tag message.image.url, class: 'chat-main__message-list__message__low__image' if message.image.present?