!!!
%html
  %body
    .side-bar
      .side-bar__user-name
        .side-bar__user-name__name-box
          .side-bar__user-name__name-box__name
            = current_user.name
          .side-bar__user-name__name-box__icon
            .side-bar__user-name__name-box__icon__edit
              = link_to do
                %i.far.fa-edit
            .side-bar__user-name__name-box__icon__cog
              = link_to edit_user_path(current_user) do
                %i.fa.fa-cog
      .side-bar__group-list
        .side-bar__group-list__groups
          %p.side-bar__group-list__groups__group-name techcamp
          %p.side-bar__group-list__groups__group-messages まだメッセージがありません
        .side-bar__group-list__groups
          %p.side-bar__group-list__groups__group-name techcamp栄校
          %p.side-bar__group-list__groups__group-messages まだメッセージがありません